<head>
    <!-- Global Site Tag (gtag.js) - Google Analytics -->

  <!-- SEO Information -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% if page.url == "/404.html" %}
  <meta http-equiv="refresh" content="5; url=/">
  {% endif %}

  <title>{{ site.title }} - {{ page.title }}</title>
  <meta name="author" content="Montier Kess" />
  <meta name="description" content="{{ page.seo-description }}" />
  <meta name="keywords" content="{{ page.seo-keywords }}" />

  <!-- Meta OG Tags -->
  <meta name="og:title" content="Montier Kess - {{ page.title }}" />
  <meta name="og:description" content="{{ page.seo-description }}" />
  <meta name="og:keywords" content="{{ page.seo-keywords }}" />
  <meta property="og:url" content="{{ "/" | relative_url }}" />
  <meta property="og:image" content="{{ page.project-img }}" />

  <link rel="shortcut icon" href="/bolt.png" type="image/png" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{ "/" | relative_url }}css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.url }}" />

  <!-- Vendor Stylesheets -->
  <link rel="stylesheet" type="text/css" href="{{ "/" | relative_url }}css/vendor/frow.css" />
  <link rel="stylesheet" type="text/css" href="{{ "/" | relative_url }}slick/slick.css" />
  <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
  <link rel="stylesheet" type="text/css" href="{{ "/" | relative_url }}css/vendor/hamburgers.css" />
  <link rel="stylesheet" type="text/css" href="{{ "/" | relative_url }}css/vendor/animate.css" />
  <link rel="stylesheet" type="text/css" href="{{ "/" | relative_url }}css/vendor/simpleLightbox.css" />
</head>
<body>