{% include head.html %}

{% include header.html %}

<body class="white-bg">
	
	
	
	<div class="wrapper">
		<div class="left-home">
			<div class="project-info">
				<div class="project-title">{{ page.title }}</div>
				<div class="project-description">{{ page.description }}</div>
				<div class="line"></div>
				<div class="skills-section">
					<div class="skills-title">Skills Used:</div>
					<div class="skills-list">
						<ul>
							{% for thing in page.skills %}
							<li>{{ thing.item }}</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<a class="return-link" href="/">
					<div>&#8592;&nbsp;More Projects</div>
				</a>
			</div>
		</div>

		<div class="home-projects">
			{{ content }}

			{% include project-links.html %}

			<div class="related-section">
				<div class="related-title">Related Projects</div>
				<div class="related-item-wrapper">
					<div class="frow justify-start">
					{% for item in page.related-projects %}
						<div class="related-item">
							<a class="related-project-link" href="{{ item.related-project-link }}"><img src="{{ item.related-project-img }}" /></a>
							<a class="related-project-link" href="{{ item.related-project-link }}"><div>{{ item.related-project-title }}</div></a>
						</div>
					{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

{% include footer.html%}